<div  class="grid-container">
<mat-card>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User Id </mat-label>
    <input matInput disabled value="{{user.element.id}}">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>UserName</mat-label>
    <input matInput disabled value="{{user.element.username}}">
  </mat-form-field>
</mat-card>
<mat-card>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label> name </mat-label>
    <input matInput disabled value="{{user.element.id}}">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>lastname </mat-label>
    <input matInput disabled value="{{user.element.name}}">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>phone number </mat-label>
    <input matInput disabled value="{{user.element.phoneNumber}}">
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>address</mat-label>
    <input matInput disabled value="{{user.element.address}}">
  </mat-form-field>

</mat-card>
</div>